/* Estilos Generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    color: #333;
}

/* Encabezado y Navegación */
header {
    background-color: #28a745;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    z-index: 999;
    transition: background-color 0.3s ease;
}

header:hover {
    background-color: #218838; /* Sombra más oscura al pasar el ratón */
}

header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul li {
    margin: 0 25px;
    position: relative;
}

header nav ul li a {
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 12px 20px;
    transition: all 0.3s ease;
    border-radius: 4px;
    position: relative;
}

header nav ul li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #e9ecef;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

header nav ul li a:hover {
    color: #e9ecef;
    transform: translateY(-3px); /* Elevación al pasar el ratón */
}

header nav ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

header nav ul li a:focus {
    outline: none;
}

/* Efecto de Desplazamiento */
header nav ul li a:hover, header nav ul li a:focus {
    color: #e9ecef;
    background-color: #218838; /* Fondo en hover */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}


/* Sección de Bienvenida */
#home {
    text-align: center;
    padding: 60px 20px;
    background-color: #f4f4f4;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    margin-top: 30px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

#home:hover {
    background-color: #e9f7e4; /* Suave cambio de fondo al pasar el ratón */
}

#home h1 {
    font-size: 3.5rem;
    color: #2c3e50;
    font-weight: 800;
    margin-bottom: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

#home p {
    font-size: 1.6rem;
    color: #7f8c8d;
    margin-bottom: 40px;
    font-weight: 400;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
}

/* Contenedor de Botones */
#buttons-container {
    display: flex;
    justify-content: center;
    gap: 35px;
    margin-top: 30px;
}

#buttons-container button {
    padding: 18px 45px;
    font-size: 1.2rem;
    color: white;
    background-color: #28a745;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    width: 280px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

#buttons-container button:hover {
    background-color: #218838;
    transform: translateY(-5px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
}

#buttons-container button:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(40, 167, 69, 0.5);
}

/* Efecto de transición de botones */
#buttons-container button:active {
    transform: translateY(2px); /* Pequeña animación al hacer clic */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}


/* Sección de Servicios */
#services {
    padding: 60px 20px;
    background-color: #f9f9f9;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

#services:hover {
    background-color: #e9f7f1; /* Cambio de fondo suave al pasar el ratón */
}

#services h2 {
    font-size: 2.6rem;
    color: #2c3e50;
    margin-bottom: 40px;
    font-weight: 800;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
}

/* Estilo de la lista y los items */
#services ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinea los ítems al centro */
    justify-content: center;
}

#services ul li {
    font-size: 1.3rem;
    color: #7f8c8d;
    margin-bottom: 20px;
    font-weight: 400;
    text-align: center; /* Asegura que el texto esté centrado */
    padding-left: 10px;
    position: relative;
    transition: transform 0.3s ease, color 0.3s ease;
}

#services ul li:before {
    content: '✔';
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5rem;
    color: #28a745;
}

#services ul li:hover {
    transform: translateX(10px);
    color: #2c3e50;
}

@media (max-width: 768px) {
    #services ul {
        padding-left: 0; /* Elimina cualquier padding izquierdo */
    }
}




/* Sección de Contacto */
#contact {
    padding: 60px 20px;
    background-color: #f7f9fc;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

#contact:hover {
    background-color: #e1f4e3; /* Cambio de fondo suave al pasar el ratón */
}

#contact h2 {
    font-size: 2.6rem;
    color: #2c3e50;
    margin-bottom: 40px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Roboto', sans-serif;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
}

/* Estilo del formulario de contacto */
#contact form {
    max-width: 700px;
    margin: 0 auto;
    text-align: left;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

#contact label {
    display: block;
    margin-bottom: 12px;
    color: #555;
    font-weight: 600;
    font-size: 1.1rem;
}

#contact input,
#contact textarea {
    width: 100%;
    padding: 14px;
    font-size: 1.1rem;
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-bottom: 20px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

#contact input:focus,
#contact textarea:focus {
    border-color: #28a745;
    outline: none;
}

#contact button {
    width: 100%;
    padding: 14px;
    font-size: 1.2rem;
    color: white;
    background-color: #28a745;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#contact button:hover {
    background-color: #218838;
    transform: translateY(-3px);
}

#contact div {
    margin-top: 40px;
}

#contact h3 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 15px;
}

/* Sección de Redes Sociales */
#social-media {
    padding: 50px 20px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#social-media h2 {
    font-size: 2.6rem;
    color: #2c3e50;
    margin-bottom: 30px;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

#social-media a {
    font-size: 1.8rem;
    color: #28a745;
    text-decoration: none;
    margin: 0 20px;
    transition: color 0.3s ease, transform 0.3s ease;
}

#social-media a:hover {
    color: #218838;
    transform: translateY(-3px);
}

/* Sección de Registro */
#register {
    padding: 60px 20px;
    background-color: #f7f9fc;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

#register:hover {
    background-color: #e1f4e3;
}

#register h2 {
    font-size: 2.6rem;
    color: #2c3e50;
    margin-bottom: 40px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Roboto', sans-serif;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
}

#register form {
    max-width: 700px;
    margin: 0 auto;
    text-align: left;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

#register label {
    display: block;
    margin-bottom: 12px;
    color: #555;
    font-weight: 600;
    font-size: 1.1rem;
}

#register input {
    width: 100%;
    padding: 14px;
    font-size: 1.1rem;
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-bottom: 20px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

#register input:focus {
    border-color: #28a745;
    outline: none;
}

#register button {
    width: 100%;
    padding: 14px;
    font-size: 1.2rem;
    color: white;
    background-color: #28a745;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#register button:hover {
    background-color: #218838;
    transform: translateY(-3px);
}

/* Sección de Huella Ecológica */
#ecological-footprint {
    padding: 60px 20px;
    background-color: #f7f9fc;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 10px;
}

#ecological-footprint h2 {
    font-size: 2.6rem;
    color: #2c3e50;
    margin-bottom: 40px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

#ecological-footprint form {
    max-width: 700px;
    margin: 0 auto;
    text-align: left;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

#ecological-footprint label {
    display: block;
    margin-bottom: 12px;
    color: #555;
    font-weight: 600;
    font-size: 1.1rem;
}

#ecological-footprint select,
#ecological-footprint input {
    width: 100%;
    padding: 14px;
    font-size: 1.1rem;
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-bottom: 20px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

#ecological-footprint input:focus,
#ecological-footprint select:focus {
    border-color: #28a745;
    outline: none;
}

#ecological-footprint button {
    width: 100%;
    padding: 14px;
    font-size: 1.2rem;
    color: white;
    background-color: #28a745;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#ecological-footprint button:hover {
    background-color: #218838;
    transform: translateY(-3px);
}

/* Sección de Retos Sostenibles */
#challenges {
    padding: 50px 20px;
    background-color: #fff;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

#challenges h2 {
    font-size: 2.6rem;
    color: #2c3e50;
    margin-bottom: 30px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

#challenges ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

#challenges ul li {
    font-size: 1.2rem;
    margin-bottom: 12px;
    color: #555;
}

#challenges ul li a {
    color: #28a745;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease;
}

#challenges ul li a:hover {
    color: #218838;
}


/* Estilos para el footer */
footer {
    background-color: #2c3e50; /* Fondo oscuro para el footer */
    color: #fff; /* Texto blanco */
    padding: 40px 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    position: relative;
    box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.1); /* Sombra sutil para separar el footer del contenido */
}

footer .footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

footer p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    letter-spacing: 1px;
    opacity: 0.8; /* Un poco de opacidad para que no se vea tan fuerte */
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 30px;
}

footer ul li {
    font-size: 1rem;
}

footer ul li a {
    color: #28a745; /* Verde para los enlaces */
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: color 0.3s ease, transform 0.3s ease;
}

footer ul li a:hover {
    color: #218838; /* Color más oscuro al pasar el ratón */
    transform: translateY(-3px); /* Efecto de elevación */
}

/* Agregar un borde superior para una separación visual más fuerte */
footer:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #28a745; /* Línea verde para separar */
}
